<app-header></app-header>
  <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a [routerLink]="['']"><img src="assets/images/logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">

          <li><a [routerLink]="['']"  class="smoothScroll">Home</a></li>
          <li><a [routerLink]="['about-us']"  class="smoothScroll">About</a></li>
          <li><a [routerLink]="['portfolio']"  class="smoothScroll">Portfolio</a></li>
          <li><a [routerLink]="['journal']"  class="smoothScroll">Blog</a></li>
          <li><a [routerLink]="['contact-us']"  class="smoothScroll">Contact</a></li>

        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->


  <!-- start section header -->
  <!-- <app-banner></app-banner> -->
  <!-- End section header -->


  <!-- start section about us -->
  <!-- <app-attribute-slider></app-attribute-slider> -->

  <!--  end section services  -->


  <!-- start section portfolio -->
  <!-- <app-portfolio-item></app-portfolio-item> -->

  <!-- End section portfolio -->


  <!-- start section journal -->
  <!-- <app-journal-item></app-journal-item> -->

  <!-- End section journal -->


  <!-- start sectoion contact -->
  <!-- <app-contact-us></app-contact-us> --> 

  <!-- start sectoion contact -->
  
<router-outlet></router-outlet>
